/.idea/.name
/.idea/MyriadSwitcher.iml
/.idea/dictionaries/Dario.xml
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/*.pyc
/m_s_data.myr
/m_s_session.myr
/myriad_error.log
/myriad_output.log
/setup_cx_freeze......................................x84.py
/todo.txt
/win-build-cx_freeze...............................x84.bat
